<div>
  <div>
    <img src='../assets/u80.png' id="back_button" (click)="backButtonClicked()" class="hidden">

    <div id ="main_search" class="search1">
      <input type="text" name="search_by_name" #search1 placeholder="Search drink by name"/>
      <img (click)="searchByName(search1.value, $event)" id="search_by_name" src="../assets/u254.png" alt="search">
    </div>

    <div id="header_text">
      <h1>Create your own drink:</h1>
    </div>
    <div id="alcohols" class="search2">
        <div><label for="gin">Gin</label><input id="gin" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="vodka">Vodka</label><input id="vodka" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="whiskey">Whiskey</label><input id="whiskey" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="rum">Rum</label><input id="rum" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="wine">Wine</label><input id="wine" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="ale">Ale</label><input id="ale" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="beer">Beer</label><input id="beer" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="amaretto">Amaretto</label><input id="amaretto" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="campari">Campari</label><input id="campari" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="sambuca">Sambuca</label><input id="sambuca" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="grenadine">Grenadine</label><input id="grenadine" type="radio" class="filter" name="alcohol"/></div>
    </div>

    <div id="other_filters" class="search2">
      <div>
        <h2>By type of drink:<br><br></h2>
        <div><label for="Ordinary%20Drink">Ordinary drink</label><input id="Ordinary%20Drink" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="Shot">Shot</label><input id="Shot" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="Cocktail">Cocktail</label><input id="Cocktail" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="Cocoa">Cocoa</label><input id="Cocoa" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="Homemade%20Liqueur">Homemade liqueur</label><input id="Homemade%20Liqueur" type="radio" class="filter" name="alcohol"/></div>
      </div>
      <div>
        <h2>By containment of alcohol:<br><br></h2>
        <div><label for="Alcoholic">Alcoholic</label><input id="Alcoholic" type="radio" class="filter" name="alcohol"/></div>
        <div><label for="Non_Alcoholic">Non-alcoholic</label><input id="Non_Alcoholic" type="radio" class="filter" name="alcohol"/></div>
      </div>

      <button id="search_custom_button" (click)="searchByFilters()">
          <img id="search_custom" src="../../assets/u254.png">
          <img id="search_custom" src="../assets/u254.png">
        <img id="search_custom" src="./assets/u254.png">
        <img id="search_custom" src="/assets/u254.png">
      </button>
    </div>

    <div id="drinks_list">
      <!-- drinks from API are placed here -->
    </div>
  </div>
</div>