input[type="text"] {
    color: black;
    width: 30vmax;
    padding-left: 9px;
    line-height: 3em;
}

div.search_by{
	line-height: 2em;
} div#alcohols {
    margin-top: 5%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
} div#alcohols div {
    padding: 0 1em;
} div#other_filters {
    margin-top: 5%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
} div#other_filters div {
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
} div#other_filters div *:last-child {
    padding-bottom: 2%;
    margin-bottom: 5%;
}

img#search_by_name {
    left: 10px;
    background: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 0.25em;
    height: 2.5em;
} img#search_custom {
    margin: .25em 0;
    height: 2.5em;
} #search_custom_button {
    cursor: pointer;
    text-align: center;
    width: 30vmax;
    outline-style: outset;
    border: 1px solid white;
    background-color: white;
} img#back_button {
    cursor: pointer;
    height: 2.5em;
}

#inputs .search1 inputs {
    float: left;
}

div#header_text {
    margin-top: 8%;
    text-align: center;
} div#main_search {
    display: flex;
    justify-content: center;
} div#main_search input {
    border: 1px solid white;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}