

<div class="row"> 

  <div class="column" style="flex: 20%">

    <input type="image" src="assets/u80.png" style="object-fit: none">

  </div>  

  <div class="column" style="flex: 70%">

    <p style="text-align:center; color: white;" id="name" ></p>

  </div>  

  <div class="column" style="flex: 10%">

      <input type="image" src="assets/u126.png" style="object-fit: none"/>

  </div>  

</div>
<br>
<div class="row"> 

  <div class="column" style="flex: 30%">
      
    <input type="image" style="size: 50%" id="photo"/>

  </div>

  <div class="column" style="flex: 70%">

      <div>
          <select size="2" style="background-color: #094466; width:390px; height:100%" id="ingr">
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik">składnik</option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik ">składnik </option>
            <option value="składnik">składnik</option>
          </select>
      </div>

  </div>

</div>

<br>

<div class="row"> 

  <div class="column" style="flex: 100%">
      <textarea style="background-color: #094466; width:550px; height: 200px" id="recipe">przepis</textarea>
  </div>

</div>

<angular-billboard *ngFor="let chart of charts" [chart]="chart"></angular-billboard>