<div class='heading1'><p>Aplikacja do drinków</p></div>

  <div class="row"> 
      
    <div class="columnla"> <!-- kolumna lewa  -->

          <div class='heading2'><p>Autorzy</p></div>

            <div class='author'> <!-- jedna osoba  -->

              <div class='space'><img class="cats" id="cat3"></div> 
              <div class='space'><br></div>              
              <div class='space'>Ewa Bąk<br><a class="linkedin" href="https://www.linkedin.com/in/ewa-b%C4%85k-950132144/">LinkedIn</a></div> 

            </div>
      
            <div class='author'>

              <div class='space'><img class="cats" id="cat2"></div>
              <div class='space'><br></div>                    
              <div class='space'>Kamila Chwastowska<br><a class="linkedin" href="https://www.linkedin.com/in/kamila-chwastowska-6610b6118/">LinkedIn</a></div>      

            </div>
      
            <div class='author'>

                <div class='space'><img class="cats" id="cat4"></div>
                <div class='space'><br></div>                    
                <div class='space'>Maciej Dobosz<br><a class="linkedin" href="https://www.linkedin.com/in/maciej-dobosz-072851135/">LinkedIn</a> </div>         
              
            </div>
      
            <div class='author'>

                  <div class='space'><img class="cats" id="cat1"></div>
                  <div class='space'><br></div>                   
                  <div class='space'>Dominika Smolarek<br><a class="linkedin" href="https://www.linkedin.com/in/dominika-smolarek-a25aa8145/">LinkedIn</a>	 </div>    

            </div>
    </div>

    <div class="columnspace"></div> <!-- kolumna będąca przerwą pomiędzy dwoma kolumnami  -->

    <div class="column2a"> <!-- kolumna prawa  -->
      
      <div class='author'> 
              <div class='heading2'><p>Drink Up!<br>Przepisy na drinki<br></p></div>
      </div>
              <div class='space'>Drinkup.pl to wyjątkowa aplikacja do drinków, na której znajdziesz przepisy na drinki, szoty, czy też napoje bezalkoholowe.
								Wystarczy tylko wybrać składnik lub rodzaj cocktailu, a następnie cieszyć się z pysznego napoju. 
								Drink Up zawiera setki przepisów, daje możliwość wybrania ulubionego trunka oraz dodania o nim opinii. Spróbuj sam już dziś!
							
								
								Drink Up powstało na potrzeby projektu zaliczeniowego z przedmiotu Programowanie Aplikacji Webowych SPA</div><br>         

      <div class='author'>
              <div class='heading2'><p>Technologie</p></div>
      </div>
      <div class='space'>
				<ul>
					<li>Angular 5</li>
					<li>AJAX</li>
					<li><a href="https://www.thecocktaildb.com/api.php">API TheCocktailDB</a></li>
				</ul>
			</div>    

    </div>
    
  </div> 
  
