<div class='heading1'><p>Information about project</p></div>

  <div class="row"> 
      
    <div class="column1"> <!-- kolumna lewa  -->

          <div class='heading2'><p>Authors</p></div>

            <div class='author'> <!-- jedna osoba  -->

              <div class='space'><img class="cats" id="cat3"></div> 
              <div class='space'><br></div>              
              <div class='space'>Ewa Bąk <br> <a href="https://www.linkedin.com/in/ewa-b%C4%85k-950132144/">LinkedIn</a></div> 

            </div>
      
            <div class='author'>

              <div class='space'><img class="cats" id="cat2"></div>
              <div class='space'><br></div>                    
              <div class='space'>Kamila Chwastowska <br> <a href="https://www.linkedin.com/in/kamila-chwastowska-6610b6118/">LinkedIn</a></div>      

            </div>
      
            <div class='author'>

                <div class='space'><img class="cats" id="cat4"></div>
                <div class='space'><br></div>                    
                <div class='space'>Maciej Dobosz <br> <a href="https://www.linkedin.com/in/maciej-dobosz-072851135/">LinkedIn</a> </div>         
              
            </div>
      
            <div class='author'>

                  <div class='space'><img class="cats" id="cat1"></div>
                  <div class='space'><br></div>                   
                  <div class='space'>Dominika Smolarek <br> <a href="https://www.linkedin.com/in/dominika-smolarek-a25aa8145/">LinkedIn</a>	 </div>    

            </div>
    </div>

    <div class="columnspace"></div> <!-- kolumna będąca przerwą pomiędzy dwoma kolumnami  -->

    <div class="column2"> <!-- kolumna prawa  -->
      
      <div class='author'> 
              <div class='heading2'><h1>Drink Up!<br>Search for<br>drink recipes</h1></div>
      </div>
              <div class='space'>Drinkup.pl is a special site where you can find recipies and build your own drink.
								Our application allows you to choose ingredient and the type of drink so you can create cocktails, shots or even non alcoholic drinks.
								
								Drink Up was created for a final project from subject Programming Single Page Applications. </div>         

      <div class='author'>
              <div class='heading2'><p>Technology Stack</p></div>
      </div>
      <div class='space'>
				<ul>
					<li>Angular 5</li>
					<li>AJAX</li>
					<li><a href="https://www.thecocktaildb.com/api.php">API TheCocktailDB</a></li>
				</ul>
			</div>    

    </div>
    
  </div> 
  
