<div id="logged" class="logged">
<div class="center">
  <h1>Show people the drink you like the most:</h1>
  <input type="text" id="drinkID" maxlength="5" placeholder="ID of the drink">
</div>
<div class="center">
  <input type="text" id="drinkDesc" maxlength="50" placeholder="Short description">
</div>
<div class="center">
  <button (click)="addFavourite()">Send</button>
</div>
</div>
<div id="anonymous" class="anonymous hidden">
  <h1>Login to add your own drink to the collection</h1>
</div>

<h1>Top drinks chosen by the community:</h1>
<div id="drinks_list">
  <!-- Drinks from Firebase are rendered here  -->
</div>