<div id="logged" class="logged">
<div class="center">
  <h1>Pokaż innym swój ulubiony przepis na drink</h1>
  <input type="text" id="drinkID" maxlength="5" placeholder="Podaj ID drinka">
</div>
<div class="center">
  <input type="text" id="drinkDesc" maxlength="50" placeholder="Krótki opis">
</div>
<div class="center">
  <button (click)="addFavourite()">Wyślij</button>
</div>
</div>
<div id="anonymous" class="anonymous hidden">
  <h2>Zaloguj się aby dodać ulubione drinki do kolekcji</h2>
</div>

<h1>Najlepsze drinki wybrane przez społeczność DrinkUp!</h1>
<div id="drinks_list_top">
  <!-- Drinks from Firebase are rendered here  -->
</div>