<div id="account-details"></div>

<h1 id="header">Twój profil</h1>

<div id="main_container">
  <div id="profile_container">
  <img id="user_photo" src="">
  <div>
    <h1 class="description"><br>Witaj! </h1> <h1 id="user_name"></h1>
    <p class="description"><br>Podaj adres e-mail </p> <p id="user_email"></p>
  </div>
  </div>

  <div id="logout_container">
    <h1 class="logout">Chcesz się wylogować?</h1>
    <button (click)="signOut()">Wyloguj</button>
  </div>
</div>

<p id="logged_out_text" class="hidden">Zaloguj się aby kontynuować</p>